.cool-font { 
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: gray;
}

.col1 {
    background-color: aquamarine;
}